@using SquishIt.Framework;
@using SquishIt.Mvc;
@using Bundle = SquishIt.Framework.Bundle;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
	@if (MvcApplication.Environment != "Live")
	{
		<link href="~/Content/Offline/c/Fontawesome/font-awesome.css" rel="stylesheet" />
	}
</head>
<body>
    @if (MvcApplication.Environment != "Live")
	{
		<div style="position: fixed; top: 0; width: 100%; padding: 8px; background-color: red; color: white; text-align: center;">
			@Html.Encode("WARNING: Environment - " + MvcApplication.Environment)
		</div>

		<style>
			nav {
				top: 32px !important;
			}
		</style>
	}
    @Html.Partial("_NavPartial")
    <div ng-app="bertha" ng-controller="pageController" class="body-content">
        <div class="main-container">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - @MvcApplication.ApplicationName</p>
        </footer>
    </div>

    @Bundle.Css().MvcRenderCachedAssetTag("styles")
    @Bundle.JavaScript().MvcRenderCachedAssetTag("jslibs")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>
</body>
</html>
