@using SquishIt.Framework;
@using SquishIt.Mvc;
@using Bundle = SquishIt.Framework.Bundle;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

</head>
<body>
    @if (MvcApplication.Environment != "Live")
    {
        <div style="width: 100%; height: 25px; background-color: red; color: white; text-align: center;">
            @Html.Encode("WARNING: Environment - " + MvcApplication.Environment)
        </div>
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(MvcApplication.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div ng-app="bertha" ng-controller="pageController" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Bundle.Css().MvcRenderCachedAssetTag("styles")
    @Bundle.JavaScript().MvcRenderCachedAssetTag("jslibs")

    <script>
        console.log($);
    </script>
</body>





</html>
