<nav>
    <div class="navbar">
        <ul class="navbar-left">
	        <li>@Html.ActionLink("Home", "Index", "Home")</li>
	        <li>@Html.ActionLink("Browse", "Index", "Shop")</li>
	        <li>@Html.ActionLink("About", "Index", "About")</li>
            <li>@Html.ActionLink("Admin Console", "Index", "Admin")</li>
        </ul>

        @Html.Partial("_LoginPartial")
    </div>
</nav>